<h2>Rating</h2>

<p class="status good" ng-show-auth="login">Hello! You are logged in.</p>
<p class="status" ng-show-auth="logout">Not logged in</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<div ng-controller="HomeCtrl">
  <graph ng-show-auth="login"></graph>
  <label for="rate" ng-show-auth="login">0</label>
  <input type="range" id="rate" min="0" max="10" step="0.1" ng-mouseup="sendRating({rating:rating})" ng-show-auth="login" ng-model="rating"/>
  <label for="rate" ng-show-auth="login">10</label>
</div>
