<h2>Rating</h2>

<p class="status good" ng-show-auth="login">Hello! You are logged in.</p>
<p class="status" ng-show-auth="logout">Not logged in</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<div ng-controller="HomeCtrl">
  <form ng-submit="sendRating({user:form.user,rating:form.rating})">
    Rating: <input ng-model="form.rating" type="number" placeholder="-10 to 10" class="ratings"/>
    Username: <input ng-model="form.user" type="text" placeholder="name" class="ratings"/>
    <input ng-show-auth="login" type="submit"/>
    <input ng-show-auth="logout,error" type="submit" ng-disabled="true"/>
  </form>
  <br></br>
  <text class="ratings">Last rating: {{ lastRating }}</text>
  <text class="ratings">Composite rating: {{ compositeRating }}</text>
  <graph-maker></graph-maker>
</div>
